@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

*{
    margin: 0;
    overflow: hidden;
}

p{
    font-size: 10px;
    
}


#check{
    display: none;
}
#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    width: 290px;
    transform: translateX(190px);
    transition: all .2s linear;
}

.iconesMenu{
    width: 64px;
}

.barra{
    background-color: #333;
    height: 100%;
    width: 290px;
    position: absolute;
    transition: all .2s linear;
}
nav{
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a{
    text-decoration: none;
}
.link{
    background-color: #494950;
    padding: 20px;
    font-family: 'Arial';
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
    margin-top: 50px;

}
.link:hover{
    background-color: #050542;
    cursor: pointer;
}

#check:checked ~ #icone{
    transform: translateX(0px);
}
#check:checked ~ .barra{
    transform: translateX(-290px);
}
#check:checked ~ .barra nav a .link{
    transition-delay: .2s;
    margin-top: 0;
    
}


#setas{
    width: 100px;
}

#pausekey{
    width: 30px;
    margin-left: 20px;
    margin-right: 38px;
}
.pauseSpan{
    padding-right: 73px;
}


body{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/bg.jpg');  
    background-size: cover;
    background-repeat: no-repeat;
}

#cabeca{
    text-align: center;
    font-family: 'Lexend Peta', sans-serif;
    color: rgba(224, 220, 220, 0.87);
}
#stage{
    box-shadow: 15px 30px 60px black;
}

#game{
    width: 700px;
    height: 700px;
    background-color: rgba(39, 37, 37, 0.507);
    position: relative;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#pontuacao{
    position: absolute;
    left: 70%;  
    margin-top: -54px;  
}
#pontos{
    width: 80px;
    color: whitesmoke;
    padding-left: 10px;
    border: 1px inset whitesmoke;
}
#recorde{
    margin-left: 8%;
    margin-top: 4px;

}
#recordeAtual{
    width: 80px;
    color: whitesmoke;
    padding-left: 10px;
    border: 1px inset whitesmoke;
}

#basic-addon2, #basic-addon1{
    background-color: rgba(255, 255, 255, 0.39);
    color: white;
}

#pause {
    display: none;
  }


@media screen and (max-width: 1350px){
    h1{
        font-size: 20px;
    }
}




